<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="/static/css/bootstrap.min.css?" rel="stylesheet">
  <!-- Boostrap JS -->
  <script src="/static/js/bootstrap.bundle.min.js"></script>

  <!-- JQuery JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- LINE LIFF JS -->
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
  
  
  <link rel="icon" type="image/png" href="/static/icon/money_manager_v1.png" />
  <title>Money Manager</title>
</head>

<body>